* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
}

.container_1 {
	width: 100%;
	height: 100%;
	border-bottom: 1.9px solid #efeded;
	border-top: 1.2px solid #efeded;
	background-color: #ebeae5;
	background-position: center 33%;
	position: relative;
}

.container_2 {
	width: 100%;
	height: 100%;
	padding-top: 35px;
	padding-bottom: 78px;
	position: relative;
	background-repeat: no-repeat;
	box-sizing: border-box;
	zoom: 1;
}

.container_3 {
	width: 100%;
	flex-wrap:wrap;
	display:flex;
}

.upstyle {
	padding-top: 26px;
	height: 353px;
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.smile_img_line {
	width: 100%;
	text-align: center;
	height: 100%;
	display: table;
	box-sizing: border-box;
}

.smile_last_lay {
	display: table-cell;
	vertical-align: middle;
}

.smile_line_lay {
	width: 100%;
	height: 186px;
}

.img_ready {
	width: 180px;
	height: 130px;
	margin: auto;
}

.smile_down_text_lay {
	width: 100%;
	height: 53px;
	margin: auto;
	font-size: 14px;
}

.text_setting {
	font-size: 1.75em !important;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 1.25em;
	margin-top: 0;
	color: #645353;
	margin: 11px;
}

.smile_size {
	width: 170px;
	height: 125px;
}

.makeing_project_1 {
	position: relative;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	zoom: 1;
}

.makeing_project_list {
	width: 830px;
	height: 100%;
	margin: auto;
}

.makeing_pro_text {
	width: 805px;
	height: 56px;
	margin: 0px auto 6px;
}

.project_list_lay {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	float: left;
	margin: 0 10px 20px;
	width: 249px;
}

.text_start_1 {
	margin: 17px !important;
	zoom: 1;
}

.text_start_2 {
	display: inline-block;
	font-size: 17px;
	margin: 0 !important;
	color: #645353;
	font-weight: 600;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.font_color {
	color: #fa6462;
}

.project_list_head_img {
	background-color: #dfdddd;
	border-radius: 3px 3px 0 0;
	display: block;
	margin: 0;
	position: relative;
	width: 100%;
	transition: background-color 100ms cubic-bezier(1, 1, 0, 1);
	background-color: rgba(255, 255, 255, 0.4);
	background-color: transparent !important;
}

.project_list_head_img_trash {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 19px;
	height: 20px;
	background-color: white;
	cursor: pointer;
}

.project_name {
	overflow-wrap: break-word;
	padding: 13px 19px 0;
}

.link_gogo {
	font-size: .875em;
	line-height: 1.375;
	margin: 0;
	word-break: keep-all;
	color: #645353;
	font-weight: 600;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	display: block;
}

.text_setting_1 {
	color: #433;
	font-size: 15px;
	margin:5px;
	
}
.text_setting_2 {
	font-size: .785em;
    letter-spacing: .025em;
    line-height: 1.685;
    margin: 5px;
    color: #676363;
	
}



.money_time {
	
	bottom:3px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	
	margin-top: 7px;
	overflow: hidden;
	padding: 0px 5px 6.5px;
	width: 250px;
}

.money_1 {
	flex: 0 0 70%;
	line-height: 20px;
}

.money_2 {
	color: #6d6d6d;
	display: block;
	font-size: 12px;
	font-weight: 500;
}

.money_2_1 {
	color: #433;
	font-size: .725em;
	font-weight: 500;
}

.money_2_2 {
	color: #fa6462;
	font-size: .5em;
	font-weight: 500;
	margin-left: 3px;
}

.time_1 {
	flex: 0 0 35%;
	min-width: 50px;
	line-height: 20px;
}

.time_2 {
	color: #6d6d6d;
	display: block;
	font-size: 12px;
	font-weight: 500;
}

.time_2_1 {
	color: #433;
	font-size: .725em;
	font-weight: 500;
}
.cancel-button {
	cursor: pointer;
	display: inline-block;
	min-height: 2em;
	outline: none;
	border: none;
	vertical-align: baseline;
	box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px
		rgba(0, 0, 0, 0.1) inset;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color
		0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
	transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s
		ease, box-shadow 0.1s ease, background 0.1s ease;
	-webkit-tap-highlight-color: transparent;
	margin: 0 ;
	border-radius: 0.28571429rem;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	color: rgba(0, 0, 0, .6);
	background-color: #e7e7e7;
	background-color: #fa6462;
	color: #fff;
	padding: 0.5em 1.5em;
	font-size: 1em;
	width: 20%;
	opacity: 1;
}